<!DOCTYPE html>
<html>

<head>
    {% include("parts/meta.html") %}
    {% include("parts/nav.html")%}
    <title>New Book</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
    <form method="post" action="/admin/books/add" enctype="multipart/form-data">
        <label for="title">Title(required)</label><br>
        <input type="text" name="title" id="title" maxlength="128" required><br>

        <label for="author">Author (required)</label><br>
        <input type="text" name="author" id="author" maxlength="64" required><br>

        <label for="isbn">ISBN (required)</label><br>
        <input type="text" name="isbn" id="isbn" maxlength="16" required><br>

        <label for="publisher">Publisher</label><br>
        <input type="text" name="publisher" id="publisher" maxlength="64"><br>

        <label for="publicationDate">Publication Date</label><br>
        <input type="date" name="publicationDate" id="publicationDate"><br>

        <label for="description">Description</label><br>
        <textarea name="description" id="description" maxlength="512"></textarea><br>

        <label for="pageCount">Page Count</label><br>
        <input type="number" name="pageCount" id="pageCount"><br>

        {% include("parts/languageSelector.html") %}

        <label for="genre">Genre</label><br>
        <input type="text" name="genre" id="genre" maxlength="32"><br>

        <label for="readingAge">Reading Age</label><br>
        <input type="number" name="readingAge" id="readingAge"><br>

        <label for="catalogues">Catalogues</label><br>
        <input type="text" name="catalogues" id="catalogues" placeholder="catalogue1, catalogue2, ..."><br>

        <label for="file">File</label><br>
        <input type="file" name="file" id="file" accept=".epub"><br>

        <input type="submit" value="Add book"><br>
    </form>
</body>

</html>