<!DOCTYPE html>
<html>

<head>
    {% include("parts/meta.html") %}
    {% include("parts/nav.html")%}
    <title>Edit {{ book.title }}</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
    <form method="post" action="/admin/books/edit/{{ bookID }}" enctype="multipart/form-data">
        <label for="title">Title</label><br>
        <input type="text" name="title" id="title" maxlength="128" value="{{ book.title }}"><br>
    
        <label for="author">Author</label><br>
        <input type="text" name="author" id="author" maxlength="64" value="{{ book.author }}"><br>

        <label for="isbn">ISBN</label><br>
        <input type="text" name="isbn" id="isbn" maxlength="16" value="{{ book.isbn }}"><br>

        <label for="publisher">Publisher</label><br>
        <input type="text" name="publisher" id="publisher" maxlength="64" value="{{ book.publisher or '' }}"><br>

        <label for="publicationDate">Publication Date</label><br>
        <input type="date" name="publicationDate" id="publicationDate" value="{{ book.publicationDate or '' }}"><br>

        <label for="description">Description</label><br>
        <textarea name="description" id="description" maxlength="512">{{ book.description or '' }}</textarea><br>

        <label for="pageCount">Page Count</label><br>
        <input type="number" name="pageCount" id="pageCount" value="{{ book.pageCount or '' }}"><br>

        {% include("parts/languageSelector.html") %}

        <label for="genre">Genre</label><br>
        <input type="text" name="genre" id="genre" maxlength="32" value="{{ book.genre or '' }}"><br>

        <label for="readingAge">Reading Age</label><br>
        <input type="number" name="readingAge" id="readingAge" value="{{ book.readingAge or '' }}"><br>

        <label for="catalogues">Catalogues</label><br>
        <input type="text" name="catalogues" id="catalogues" value="{{ ', '.join(book.catalogues) }}" placeholder="catalogue1, catalogue2, ..."><br>

        <label for="file">File</label><br>
        <input type="file" name="file" id="file" accept=".epub"><br>

        <input type="submit" value="Edit book">
    </form>

    <h1> Delete book </h1>

    <button onclick="{{ 'deleteBookButton(' + bookID + ')' }}">Delete Book</button>


    <img src="{{ book.coverURL }}" alt="Cover Image">

    <script src="/static/scripts/admin/books/edit.js"></script>
</body>