<!DOCTYPE html>
<html>

<head>
    {% include("parts/meta.html") %}
    {% include("parts/nav.html")%}
    <title></title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- There should be max lengths, check scripts/databaseStructure.sql -->
    <form method="post" action="/admin/books/edit/{{ bookID }}" enctype="multipart/form-data">
        <label for="title">Title</label>
        <input type="text" name="title" id="title">

        <label for="author">Author</label>
        <input type="text" name="author" id="author">

        <label for="isbn">ISBN</label>
        <input type="text" name="isbn" id="isbn">

        <label for="publisher">Publisher</label>
        <input type="text" name="publisher" id="publisher">

        <label for="publicationDate">Publication Date</label>
        <input type="date" name="publicationDate" id="publicationDate">

        <label for="description">Description</label>
        <textarea name="description" id="description"></textarea>

        <label for="pageCount">Page Count</label>
        <input type="number" name="pageCount" id="pageCount">

        <!-- Make this be ISO 3166 Alpha 3 country codes
        https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3
        maybe a drop down? -->
        <label for="language">Language</label>
        <input type="text" name="language" id="language">

        <label for="genre">Genre</label>
        <input type="text" name="genre" id="genre">

        <label for="readingAge">Reading Age</label>
        <input type="number" name="readingAge" id="readingAge">

        <!-- This should be a list of catalogues
        right now the server supports comma seperated values
        "catalogue1, catalogue2, catalogue3"-->
        <label for="catalogues">Catalogues</label>
        <input type="text" name="catalogues" id="catalogues">

        <label for="file">File</label>
        <input type="file" name="file" id="file" accept=".epub">

        <input type="submit" value="Edit book">
    </form>

    <h1> Current metadata </h1>
    
    <!-- make this be the default values in the form -->
    
    {{ book["title"] }}<br>
    {{ book["author"] }}<br>
    {{ book["isbn"] }}<br>
    {{ book["publisher"] }}<br>
    {{ book["publicationDate"] }}<br>
    {{ book["description"] }}<br>
    {{ book["pageCount"] }}<br>
    {{ book["language"] }}<br>
    {{ book["genre"] }}<br>
    {{ book["readingAge"] }}<br>
    {{ book["catalogues"] }}<br>

    <img src="{{ book['coverURL'] }}" alt="Cover Image">
    
    {% if book["fileURL"] %}
    <br><br><a href="/books/read/{{ book['bookID'] }}">Read Book</a>
    {% endif %}
</body>