<!DOCTYPE html>
<html>

<head>
    {% include("parts/meta.html") %}
    
    <nav> 
        <a href="/" id="home">Home</a>
        <a href="/" id="LogOut">Log Out</a>
    </nav>

    <title>Account Details</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
    
    <p>Email: {{ user["email"] }}</p>
    <p>Admin: {{ user["admin"] }}</p>
    <p>Created: {{ user["created"] }}</p>
    <p>Premium: {{ user["premium"] }}</p>
    <p>Premium Expires: {{ user["premiumExpires"] }}</p>

    <br>

    <script src="/static/scripts/account/delete.js"></script>
    <button onclick="deleteAccountButton()">Delete Account</button>

</body>

</html>