<!DOCTYPE html>
<html>

<head>
    {% include("parts/meta.html") %}
    <title>{{ book.title }}</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="BookCover"><img src="{{ book.coverURL }}" alt="Cover Image"></div>
        <div class="BookInfo">
            <p><b>Title: </b>{{ book.title }}</p>
            <p><b>Author: </b>{{ book.author }}</p>
            <p><b>ISBN: </b>{{ book.isbn }}</p>

            {% if book.publisher %}<p><b>Publisher: </b>{{ book.publisher }}</p>{% endif %}
            {% if book.publicationDate %}<p><b>Publication Date: </b>{{ book.publicationDate }}</p>{% endif %}
            {% if book.description %}<p><b>Description: </b>{{ book.description }}</p>{% endif %}
            {% if book.pageCount %}<p><b>Page Count: </b>{{ book.pageCount }}</p>{% endif %}
            {% if language %}<p><b>Language: </b>{{ language }}</p>{% endif %}
            {% if book.genre %}<p><b>Genre: </b>{{ book.genre }}</p>{% endif %}
            {% if book.readingAge %}<p><b>Reading Age: </b>{{ book.readingAge }}</p>{% endif %}
            {% if book.catalogues %}<p><b>Catalogues: </b>{{ ', '.join(book.catalogues) }}</p>{% endif %}
            
            {% if user.admin %}
            <a href="/admin/books/edit/{{ book.bookID }}">Edit Book</a><br>
            {% endif %}
            {% if book["fileURL"] %}
            <br><br><a href="/books/read/{{ book.bookID }}">Read Book</a>
            {% endif %}
            </div>
    </div>
</body>

</html>