* {
  font-family: Roboto, Arial, sans-serif;
}

body {
    padding:2%;
    max-width: 800px;
    margin: 0 auto;
    background: #ffffff;
    color: #000000;
}

h1, h2 {
    border-bottom: 3px solid #fff;
    text-align:center;
   
}

h3{
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    text-align:center;
    border-width: 3px;
  
}



input, button {

    width: 50%;
    border: 2px inset #000000;
   
}

a {
    font-size: 20px;

}

a:link {

    padding: 5px;
    text-decoration: none;
    color: #ffffff;
}

a:visited {
    color: #c7c7c7;
}

nav {
    text-align: center;
    height: 10%;
    font-size: 20px;
    padding:20px;
    border-width: 10px;
    border-color: #ffffff;
}

title{
    
    text-align: center;
}

#bookList {

    font-size: large;
    font-size: 20px;
    padding: 2px;
}


#admin {
    text-align: center;
    font-size: 20px;
}


