<!DOCTYPE html>
<html lang="en">

<head>
    {% include("parts/meta.html") %}

    {% include("parts/nav.html")%}

    <title>Site Map</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
    <h2>Welcome {{ user["email"] }}!</h2>

    <div id="bookList">
    <h3>Books</h3>
    
        {% for book in books %}
        <a id= "bookList" href="/books/view/{{ book.bookID }}">{{ book.title }}</a><br>
        {% endfor %}
    

    </div>
    
    <div id="admin">
        {% if user.admin%}
    <h3>Admin Books</h3>

        <a id= "addBooks" href="/admin/books/add">Add Book</a>
        {% for book in books %}
        <a id= "editBooks" href="/admin/books/edit/{{ book.bookID }}">Edit {{ book.title }}</a>
        {% endfor %}

        {% endif %}
    </div>
    
    
</body>

</html>