<!DOCTYPE html>
<html lang="en">

<head>
    {% include("parts/meta.html") %}
    <title>Site Map</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
    <h1>Temporary Site Map</h1>
    {% include("parts/search.html") %}
    <h2>Account Stuff</h2>
    <ul>
        <li><a href="/account/logout">Logout</a></li>
        <li><a href="/account/details">Account Details</a></li>
    </ul>
    <p>(if you are seeing this instead of the welcome page, you are already logged in)</p>
    <ul>
        <li><a href="/account/login">Login</a></li>
        <li><a href="/account/register">Register</a></li>
    </ul>

    <h2>Books</h2>
    <ul>
        {% for book in books %}
        <li><a href="/books/view/{{ book.bookID }}">{{ book.title }}</a></li>
        {% endfor %}
    </ul>

    <h2>Admin Books</h2>
    <ul>
        <li><a href="/admin/books/add">Add Book</a></li>
        {% for book in books %}
        <li><a href="/admin/books/edit/{{ book.bookID }}">Edit {{ book.title }}</a></li>
        {% endfor %}
    </ul>
</body>

</html>